<ion-view title="Control Color">
    <ion-content overflow-scroll="true" padding="true" >

        <io-particle></io-particle>

        <color-picker ng-model="i.colorPicker" ng-change="sendColor()"></color-picker>

        <ion-list>
            <ion-checkbox ng-model="i.current" ng-true-value="'color'" ng-false-value="''" ng-change="i.colorPicker=i.selectedColor" style="background-color:{{i.selectedColor}};width:100%;text-align:center;color:#fff;font-weight:bold;text-shadow:#000 1px 1px 1px;">
                <input type="text" ng-model="i.selectedColor"></input>
            </ion-checkbox>

            <ion-checkbox ng-model="i.current" ng-true-value="'color2'" ng-false-value="''" ng-change="i.colorPicker=i.selectedColor2" style="background-color:{{i.selectedColor2}};width:100%;text-align:center;color:#fff;font-weight:bold;text-shadow:#000 1px 1px 1px;">
                <input type="text" ng-model="i.selectedColor2"></input>
            </ion-checkbox>


    </ion-content>
</ion-view>