<ion-view title="Control Color">
    <ion-content overflow-scroll="true" padding="true" >
        <ion-list>
            <ion-radio class="item"
                data-ng-repeat="device in p.devices"
                ng-checked="p.deviceId==device.id"
                ng-model="p.deviceId"
                ng-value="device.id"
                ng-change="p.setDevice(device.id)">
                <span data-ng-bind="device.id"></span>
                <span data-ng-bind="device.name"></span>
            </ion-radio>
        </ion-list>

        <form class="list" data-ng-if="!p.token">
            <label class="item item-input">
              <span class="input-label">Particle User</span>
              <input type="text" data-ng-model="p.username">
            </label>

            <label class="item item-input">
              <span class="input-label">Particle Pass</span>
              <input type="password" data-ng-model="p.password">
            </label>

            <button class="button button-full button-positive" data-ng-click="p.authenticate()">
              Log In To Particle
            </button>
        </form>

        <form class="list" data-ng-if="p.token">
            <button class="button button-full button-positive" data-ng-click="p.logout()">
              Log Out of Particle
            </button>
        </form>

        <color-picker ng-model="i.colorPicker" ng-change="sendColor()"></color-picker>

        <ion-list>
            <ion-checkbox ng-model="i.current" ng-true-value="'color'" ng-false-value="''" ng-change="i.colorPicker=i.selectedColor" style="background-color:{{i.selectedColor}};width:100%;text-align:center;color:#fff;font-weight:bold;text-shadow:#000 1px 1px 1px;">
                <input type="text" ng-model="i.selectedColor"></input>
            </ion-checkbox>

            <ion-checkbox ng-model="i.current" ng-true-value="'color2'" ng-false-value="''" ng-change="i.colorPicker=i.selectedColor2" style="background-color:{{i.selectedColor2}};width:100%;text-align:center;color:#fff;font-weight:bold;text-shadow:#000 1px 1px 1px;">
                <input type="text" ng-model="i.selectedColor2"></input>
            </ion-checkbox>


    </ion-content>
</ion-view>